.custom-header {
    background-color: #212529 !important;
    color: white !important;
  }
  
  .custom-header .accordion-button {
    background-color: #212529 !important;
    color: white !important;
  }
  
  .custom-header .accordion-button::after {
    filter: invert(1); /* Hace la flecha blanca */
  }
  